{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if object %}
<h1 style="color: #343A40">{{object.title}}</span></h1>
    {% else %}
<h1 style="color: #343A40">Add Review</h1>
    {% endif %}

<div class="container" style="border: 1px solid grey; border-radius: 3px; margin: auto; margin-bottom: 30px; padding: 30px; width: 500px;">
    <form action="" method="post">
        {% csrf_token %}
        <div style="color:#113ab6; font-weight: bold;" >
            {{ form.rating|as_crispy_field }}
        </div>
        <div style="color:#113ab6; font-weight: bold;">
        
            {{ form.comment|as_crispy_field }}
        </div>

        <button class="btn btn-outline-info btn-light" type="submit">
            Submit
        </button> 
    </form>
</div>
{% endblock %}