{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="padding-top: 30px;">
    <div class="row">
      <div class="col">
        <div class="well well-sm">
          <div class="user-profile-card">
            <div class="user-profile-header">
              <div class="user-profile-avatar text-center">
                <img alt="avatar" src="{{ user.profile.image.url }}">
                <div class="text-center">
                  <h2 style="color:rgb(7, 55, 145); font-family: 'Satisfy', cursive;" class="account-heading">{{ user.username }}</h2>
                  <small style="color:rgb(85, 93, 107)">{{ user.first_name }} {{ user.last_name }}</small>
                  <br/>
                  <small style="color:rgb(85, 93, 107)">{{ user.email }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <h1 style="color:black"> My Experiences </h1>
      </div>

      <div class="col">
        <h1 style="color:black"> Participate </h1>
      </div>
    </div>
    <br>
    <legend  class="border-bottom mb-4">Profile Info</legend>
</div>


  <div class="bg-dark">
    <div  class="container" style="padding: 30px; ">
      <form class="bg" style="background-color: rgba(255, 255, 255, 0.3);" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset style="color:white" class="form-group">
          {{ u_form|crispy }}
          {{ p_form|crispy }}
          <button class="btn btn-outline-info" type="submit">Update</button>
        </fieldset>
      </form>
    </div>
</div>

{% endblock %}