{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col">
      <div class="well well-sm">
        <div class="user-profile-card">
          <div class="user-profile-header">
            <div class="user-profile-avatar text-center">
              {% if user.profile.image.url %}
              <img alt="avatar" src="{{ user.profile.image.url }}">
              {% else %}
              <img alt="avatar" src="/media/profile_pics/default.jpg">
              {% endif %}
              <div class="text-center">
                <h2 style="color:rgb(7, 55, 145); font-family: 'Satisfy', cursive;" class="account-heading">{{ user.username }}</h2>
                <small style="color:rgb(85, 93, 107)">{{ user.first_name }} {{ user.last_name }}</small>
                <br/>
                <small style="color:rgb(85, 93, 107)">{{ user.email }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="col">
          <h1 style="color:rgb(7, 55, 145)"> My Experiences </h1>
          <div class="row">
            {% for experience in experiences %}
            <div style="padding-bottom: 30px;" class="col">
              <div class="card promoting-card" style="width: 18rem;">
                  <!-- Card content -->
                  <a href="{% url 'exp_detail' experience.id %}">
                    <div class="card-body d-flex flex-row">
                      <!-- Avatar -->
                      {% if experience.user.profile.image.url %}
                      <img src="{{ experience.user.profile.image.url }}" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
                      {% else %}
                      <img src="/media/profile_pics/default.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
                      {% endif %}
                      <div>
                        <h4 class="card-title font-weight-bold mb-2">{{ experience.title }}</h4>
                        <p class="card-text" style="font-size:15px; color: #73798c; font-family: 'Tangerine', cursive"class="card-text"><i class="fas fa-map-marker-alt"></i> {{ experience.location }}</p>
                      </div>
                    </div>
                    <!-- Card image -->
                    <div class="view overlay">
                      <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap">
                      <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-body">
                      <div class="collapse-content">
                        <p style="font-size:15px; color: #73798c; font-family: 'Tangerine', cursive"class="card-text">{{ experience.description }}</p>
                        <!-- Button -->
                        <a style="color:red" class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" href="{% url 'exp_detail' experience.id %}">Read more</a>
                        <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
                        <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>
                      </div>
                    </div>
                  </a>
              </div>
            </div>
            {% empty %}
            <h3>You haven't created any experiences yet.</h3>
            {% endfor %}
          </div>
        </div>
    <hr>   
    <div class="col">
      <h1 style="color:rgb(7, 55, 145)"> Booked </h1>
      <div class="row">
        {% for booking in bookings %}
        <div style="padding-bottom: 30px;" class="col">
          <div class="card promoting-card" style="width: 18rem;">
              <!-- Card content -->
              <a href="{% url 'bkng_show' booking.experience.id booking.id %}">
                <div class="card-body flex-row">
                  <span class="card-title">Booking for:</span>
                  <span class="card-title float-right">{{ booking.date }}</span>
                </div>
              </a>
              <a href="{% url 'exp_detail' booking.experience.id %}">
                <div class="card-body d-flex flex-row">
                  <!-- Avatar -->
                  {% if booking.experience.user.profile.image.url %}
                  <img src="{{ booking.experience.user.profile.image.url }}" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
                  {% else %}
                  <img src="/media/profile_pics/default.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
                  {% endif %}
                  <div>
                    <h4 class="card-title font-weight-bold mb-2">{{ booking.experience.title }}</h4>
                    <p class="card-text" style="font-size:15px; color: #73798c; font-family: 'Tangerine', cursive"class="card-text"><i class="fas fa-map-marker-alt"></i> {{ booking.experience.location }}</p>
                  </div>
                </div>
                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!-- Card content -->
                <div class="card-body">
                  <div class="collapse-content">
                    <p style="font-size:15px; color: #73798c; font-family: 'Tangerine', cursive"class="card-text">{{ booking.experience.description }}</p>
                    <!-- Button -->
                    <a style="color:red" class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" href="{% url 'exp_detail' booking.experience.id %}">Read more</a>
                    <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
                    <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>
                  </div>
                </div>
              </a>
          </div>
        </div>
        {% empty %}
        <h3>You haven't booked any experiences yet.</h3>
        {% endfor %}
      </div>
    </div>
  </div>
  <br>
  <legend  class="border-bottom mb-4">Profile Info</legend>
</div>

<div class="bg-dark">
  <div  class="container" style="padding: 30px; ">
    <form class="bg" style="background-color: rgba(255, 255, 255, 0.3);" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset style="color:white" class="form-group">
        {{ u_form|crispy }}
        {{ p_form|crispy }}
        <button class="btn btn-outline-info" type="submit">Update</button>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}